# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
*.swp
*.swo
*~

# Build artifacts
build/
*.app
